@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
        width: 300px;
        height: auto;
    }
    to {
        transform: rotate(360deg);
        width: 200px;
        height: auto;
    }
}

.fade-out-animation {
    /* opacity: 0;
    width: 0;
    height: 0;
    transition: all 0.5s ease-in-out; */
}
.fade-in-animation {
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

@keyframes fade-in-animation {
    0% {
        opacity: 0;
        width: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
        height: 100%;
    }
}

@keyframes fade-out-animation {
    0% {
        opacity: 1;
        width: 100%;
        height: 100%;
    }
    100% {
        opacity: 0;
        width: 0;
        height: 0;
    }
}
